* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.bar-up {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 5px;
}

.bg-grey {
    background-color: gray;
    font-size: 12px;
    opacity: 0.8;
    border-radius: 2px;
    padding: 2px;
}

.main-section {
    padding: 20px 30px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.user {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 3px;
    padding: 5px 2px;
}

.bar-down {
    display: flex;
    justify-content: space-between;
}